@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .texscript-Page {
    margin: 0 !important;
    box-shadow: none !important;
    /* page-break-after: always !important; */
    /* page-break-inside: avoid !important; */
  }

  .texscript-Page-SIZE-A0 {
    width: 3179px !important;
    height: 4494px !important;
  }

  .texscript-Page-SIZE-A1 {
    width: 2245px !important;
    height: 3179px !important;
  }

  .texscript-Page-SIZE-A2 {
    width: 1587px !important;
    height: 2245px !important;
  }

  .texscript-Page-SIZE-A3 {
    width: 1123px !important;
    height: 1587px !important;
  }

  .texscript-Page-SIZE-A4 {
    width: 210mm !important;
    height: 297mm !important;
  }

  .texscript-Page-SIZE-A5 {
    width: 559px !important;
    height: 794px !important;
  }

  .texscript-Page-SIZE-A6 {
    width: 397px !important;
    height: 559px !important;
  }

  .texscript-Page-SIZE-B0 {
    width: 3780px !important;
    height: 5351px !important;
  }

  .texscript-Page-SIZE-B1 {
    width: 2677px !important;
    height: 3780px !important;
  }

  .texscript-Page-SIZE-B2 {
    width: 1890px !important;
    height: 2677px !important;
  }

  .texscript-Page-SIZE-B3 {
    width: 1335px !important;
    height: 1890px !important;
  }

  .texscript-Page-SIZE-B4 {
    width: 945px !important;
    height: 1335px !important;
  }

  .texscript-Page-SIZE-B5 {
    width: 664px !important;
    height: 945px !important;
  }

  .texscript-Page-SIZE-C4 {
    width: 865px !important;
    height: 1228px !important;
  }

  .texscript-Page-SIZE-C5 {
    width: 612px !important;
    height: 865px !important;
  }

  .texscript-Page-SIZE-C6 {
    width: 430px !important;
    height: 612px !important;
  }
}
