.texscript-pages-container {
  display: inline-block;
  margin: 24px;
}

.texscript-pages {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.texscript-Page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);
  overflow: clip;
}

.texscript-Line {
  display: block;
}

.texscript-HR {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 8px 0;
}
