.main {
  padding: 1in;
  font-family: monospace;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

.contactInfoRight {
  text-align: right;
}

.careerTitle,
.skillsTitle,
.educationTitle {
  font-weight: bold;
  font-size: 16px;
}

.careerDetails,
.skillsDetails {
  font-size: 12px;
}

.educationDetails {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.careerPosition {
  font-size: 14px;
  font-weight: bold;
}

.responsibilities {
  padding-left: 24px;
}

.educationInstitution {
  font-size: 14px;
  font-weight: bold;
}
