@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.main {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  background: red;
}

.name {
  font-size: 32px;
}

.educationDetails {
  gap: 48px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.header {
  font-weight: bold;
  font-size: 16px;
}
