@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.main {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  background: red;
}

.name {
  font-size: 32px;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: baseline;
}

.blockRight {
  text-align: right;
}

.educationDetails {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.careerPosition {
  font-size: 14px;
  font-weight: bold;
}

.responsibilities {
  padding-left: 24px;
}

.educationInstitution {
  font-size: 14px;
  font-weight: bold;
}

.careerTitle,
.skillsTitle,
.educationTitle {
  font-weight: bold;
  font-size: 16px;
}
